<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066124948551-kck2o0eel2nj66qkh7k0sh38qjqbu80i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066124948551-kck2o0eel2nj66qkh7k0sh38qjqbu80i</string>
	<key>API_KEY</key>
	<string>AIzaSyDAXJMgJZn4P0mK8h1o9kN_kCsMsLcM0a4</string>
	<key>GCM_SENDER_ID</key>
	<string>1066124948551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navi</string>
	<key>PROJECT_ID</key>
	<string>wishwash-8e62c</string>
	<key>STORAGE_BUCKET</key>
	<string>wishwash-8e62c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066124948551:ios:898ac1c87d64c9d839ad62</string>
</dict>
</plist>